<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="ExtractPath" value="C:\Subha\G\code\School Project\Final_School_Result_windows\Result\Unit"/>
  <add key="5to8template" value="C:\Subha\G\code\School Project\Final_School_Result_windows\Final_Result\final_5_a\5to8template.doc"/>
  <add key="9to10template" value="C:\Subha\G\code\School Project\Final_School_Result_windows\Final_Result\9_10\9to10template.doc"/>
  </appSettings>
</configuration>